---
import Head from '@/components/head/index.astro'
import { DASHBOARD_SETTINGS_ROUTE } from '@/lib/const/config'

import Layout from './layout.astro'

interface Props {
  title?: string
}

const { title: metaTitle } = Astro.props

let host = Astro.url.hostname
const origin = Astro.url.origin
const title = Astro.locals.config.pageConfig.title ?? ''
if (host === 'localhost') {
  host += `:${Astro.url.port}`
}

---
<Layout>
  <Head title={metaTitle} slot="meta" />
  <header>
    <h2 class="mb-1">(・∀・) {title}</h2>
    <a class="origin" target="_blank" href={origin}>
      <pre class="mt-1">{host}</pre>
    </a>
    <nav>
      {DASHBOARD_SETTINGS_ROUTE.map(route => (
      <a href={`/dashboard/${route.link}`} class="no-underline">
        {route.name}
      </a>
      ))}
    </nav>
  </header>
  <main>
    <slot />
  </main>
  <footer>
    <slot name="footer" />
  </footer>
</Layout>

<style>
nav {
  display: flex;
  gap: 10px;
}
</style>
