---
import type { CatppuccinTheme } from '@/lib/const/config'
import { generateThemeCSS } from '@/styles/theme'
import '@/styles/global.css'
import '@/styles/catppuccin.scss'

const pageConfig = Astro.locals.config.pageConfig
const rssConfig = Astro.locals.config.rss || {}
const lightTheme = pageConfig.theme?.light ?? 'latte'
const darkTheme = pageConfig.theme?.dark ?? 'mocha'
const blogTitle = pageConfig.title || 'Koalablog'
const ThemeBaseColor: Record<CatppuccinTheme, string> = {
  latte: '#eff1f5',
  frappe: '#303446',
  macchiato: '#24273a',
  mocha: '#1e1e2e',
}

const lightThemeColor = ThemeBaseColor[lightTheme]
const darkThemeColor = ThemeBaseColor[darkTheme]
const site = rssConfig.site || Astro.site || Astro.url.origin
const themeCss = generateThemeCSS(lightTheme, darkTheme)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />

    <meta
      name="theme-color"
      content={lightThemeColor}
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content={darkThemeColor}
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={blogTitle}
      href={new URL('rss.xml', site)}
    />
    <Fragment set:html={themeCss} />

    <slot name="meta" />
  </head>

  <body class="flex justify-center">
    <section
      id="page"
      data-light-theme={lightTheme}
      data-dark-theme={darkTheme}
      class="page box-border px-5 w-screen max-w-200 flex-1 font-[Verdana] flex flex-col"
    >
      <slot />
    </section>
  </body>
</html>

<script>
window.refreshCopyListener = () => {
  document.querySelectorAll('span.code-lang').forEach((item) => {
    item.addEventListener('click', (window as any).copyCode.bind(window, item));
    (item as HTMLSpanElement).title = 'Copy code'
  })
}
window.copyCode = (item: HTMLSpanElement) => {
  const lang = item.textContent
  const supportClipboard = navigator && 'clipboard' in navigator
  if (supportClipboard) {
    navigator.clipboard.writeText(
      item.nextSibling?.textContent || '',
    ).then(() => {
      item.textContent = 'Copied'
      setTimeout(() => {
        item.textContent = lang
      }, 2000)
    })
  }
}

window.requestIdleCallback(() => {
  window.refreshCopyListener()
})
</script>
