---
import '@/styles/global.css'
import '@/styles/catppuccin.scss'

const pageConfig = Astro.locals.config.pageConfig
const lightTheme = pageConfig.theme?.light ?? 'latte'
const darkTheme = pageConfig.theme?.dark ?? 'mocha'


function bodyClass(classList: string) {
  return `${classList} ${lightTheme}`
}

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <slot name="meta" />
  </head>

  <body class={bodyClass('flex justify-center')}>
    <section
      id="page"
      data-light-theme={lightTheme}
      data-dark-theme={darkTheme}
      data-theme="light"
      class="page box-border px-5 w-screen max-w-200 flex-1 font-[Verdana] flex flex-col"
    >
      <script is:inline>
        const pageEl = document.getElementById('page')
        const { lightTheme, darkTheme } = pageEl.dataset
        const theme = window.localStorage.getItem('theme')
        if (theme === lightTheme || theme === darkTheme) {
          document.body.classList.add(theme)
        }
        else {
          document.body.classList.add(lightTheme)
        }
      </script>
      <slot />
    </section>
  </body>
</html>

<script>
import { switchTheme } from '@/lib/utils/theme'

function handleThemeChange(event: MediaQueryList | MediaQueryListEvent) {
  const pageEl = document.getElementById('page')
  const { lightTheme, darkTheme } = pageEl!.dataset

  if (lightTheme === darkTheme)
    return

  switchTheme(event.matches ? darkTheme! : lightTheme!, event.matches ? 'dark' : 'light')
}

const query = window.matchMedia('(prefers-color-scheme: dark)')
handleThemeChange(query)
query.addEventListener('change', handleThemeChange)
</script>

<script>
document.querySelectorAll('span.code-lang').forEach((item) => {
  item.addEventListener('click', () => {
    navigator.clipboard.writeText(
      item.nextSibling?.textContent || '',
    )
  })
})
</script>
